// 字体图标 http://www.iconfont.cn/
@font-face {
  font-family: 'iconfont';
  /* project id 189309 */
  src: url('//at.alicdn.com/t/font_k236v94xy0wo2yb9.eot');
  src: url('//at.alicdn.com/t/font_k236v94xy0wo2yb9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_k236v94xy0wo2yb9.woff') format('woff'), url('//at.alicdn.com/t/font_k236v94xy0wo2yb9.ttf') format('truetype'), url('//at.alicdn.com/t/font_k236v94xy0wo2yb9.svg#iconfont') format('svg');
}

.iconfont {
  font: normal 22px/1 'iconfont';
  vertical-align: middle;
}

// reset
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ebebeb;
}

html {
  font-size: 37.5px;
}

body {
  font-size: 16px;
}

a {
  color: #007aff;
}

// http://www.css88.com/book/css/
// 弹性布局===================
// .l-flex-h  横向布局不换行，子项将会同等高度
// .l-flex-hc 横向布局不换行，子项将垂直居中
// .vux-center .vux-center-h .vux-center-v
.l-flex-h,
.l-flex-hc,
.l-flex-hvc,
.l-flex-v,
.l-flex-vhc,
.l-flex-wrap {
  // 应用于父元素 
  display: flex;
  display: box;
}

// flex-flow: <' flex-direction '> || <' flex-wrap '>
// flex-direction: row | row-reverse | column | column-reverse
// flex-wrap: nowrap | wrap | wrap-reverse
.l-flex-h,
.l-flex-hc,
.l-flex-hvc {
  // 横向布局
  flex-flow: row nowrap;
  box-orient: horizontal;
}

.l-flex-v,
.l-flex-vhc {
  // 纵向布局
  flex-flow: column nowrap;
  box-orient:  vertical;
}

// justify-content: flex-start | flex-end | center | space-between | space-around 用于不换行的弹性盒模型容器
// align-items: flex-start | flex-end | center | baseline | stretch 用于不换行的弹性盒模型容器
.l-flex-h {
  // 同等高度
  align-items: strecth;
  box-align: stretch;
}

.l-flex-hc,
.l-flex-hvc {
  // 水平排列的垂直居中
  align-items: center; // 垂直居中
  box-align: center; // 垂直居中
}

.l-flex-hvc {
  // 水平排列的垂直水平居中
  justify-content: center; // 水平居中
  box-pack: center; // 水平居中
}

.l-flex-vhc {
  // 垂直排列的垂直水平居中
  box-align: center; // 水平居中
  align-items: center; // 水平居中
  box-pack: center; // 垂直居中
  justify-content: center; // 垂直居中
}

// align-content: flex-start | flex-end | center | space-between | space-around | stretch 用于换行的弹性盒模型容器
.l-flex-wrap {
  // 水平排列换行布局
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

// 设置子项
// flex: none | <' flex-grow '> <' flex-shrink >'? || <' flex-basis '>
// flex-grow: <number> 剩余空间扩展比例
// flex-shrink: <number>  不足空间收缩比例
// flex-basis: <length> | <percentage> | auto | content   // 基准值
// align-self: auto | flex-start | flex-end | center | baseline | stretch
[class*='l-flex-'] > .l-rest {
  // 如果只有设置其中一个子项，其将霸占剩余部分
  flex: 1;
  box-flex: 1;
  align-self: auto; // 子项的排版设置
}

// 弹性布局===================end
.l-fill-color {
  white-space: nowrap;
  background: linear-gradient(top, #eee, #aaa 50%, #333 51%, #000);
  background-clip: text;
  -webkit-fill-color: transparent;
}

.l-reflect{
  white-space: nowrap;
  -webkit-box-reflect:below 0 linear-gradient(transparent,transparent 50%,rgba(255,255,255,.3));
}
.l-text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.l-line-clamp2 {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 2em;
  word-break: break-all;
  word-wrap: break-word;
  display: box;
  box-orient: vertical;
  line-clamp: 2;
}

.l-blur {
  filter: blur(10px);
}

.l-size-12 {
  font-size: 12px;
}

.l-size-14 {
  font-size: 14px;
}

.l-gray {
  color: #999;
}

.l-hr {
  // 1px横线
}

.l-btn-area {
  margin: 0.4rem;
  text-align: center;
}

.icon-arrow {
  color: #C8C8CD;
}

// 覆盖/扩展样式===========================
hr.vux-1px-b {
  height: 1px;
  margin: 0.266667rem 0;
}

.vux-divider {
  font-size: 12px;
}

.l-group [slot=icon] {
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #fff;
  display: block;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  margin: 0 0.266667rem 0 0;
}

.l-group .weui_cells {
  margin: 0.4rem 0;
}

.l-group .weui_cell {
  // line-height: 1;
}

.l-group .weui_cell_bd > p {
  font-weight: 400;
}

.l-group .has-desc {
  line-height: 1;
}

.l-group .has-desc .vux-label-desc {
  font-size: 12px;
}

.vux-tab .vux-tab-item {
  font-weight: 500;
}

.vux-header .vux-header-left .vux-header-back {
  height: 0.533333rem;
}


/* v-r-transition, default is {forward: 'forward', back: 'back'}*/

.forward-enter,
.forward-leave {
  transform: translate3d(-100%, 0, 0);
}

.back-enter,
.back-leave {
  transform: translate3d(100%, 0, 0);
}


/**
* vue-router transition
*/

.vux-pop-out-transition,
.vux-pop-in-transition {
  width: 100%;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.vux-pop-out-enter,
.vux-pop-out-leave,
.vux-pop-in-enter,
.vux-pop-in-leave {
  will-change: transform;
  height: 100%;
  position: absolute;
  left: 0;
}

.vux-pop-out-enter {
  animation-name: popInLeft;
}

.vux-pop-out-leave {
  animation-name: popOutRight;
}

.vux-pop-in-enter {
  perspective: 1000;
  animation-name: popInRight;
}

.vux-pop-in-leave {
  animation-name: popOutLeft;
}

@keyframes popInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes popOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes popInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes popOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
